html {
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	margin: 0;
}
*, *:before, *:after {
	box-sizing: inherit;
}
.content {
	min-width: 37.5rem;
	padding-right: 20.8%;
	padding-left: 20.8%;
}
.top-navigation {
	position: fixed;
	width: 100%;
	z-index: 9999;
	background-color: white;
	padding-top: 1em;
	padding-bottom: .6em;
}
.top-navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 1.05em;
    margin-top: .52rem;
    -webkit-font-smoothing: antialiased;
}
.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
}
.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}
.introduction {
    background-image: url('../images/first-background.jpg');
    background-position: 0 bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    overflow: auto;
}
.introduction h1, .introduction h3 {
	text-align: center;
	font-weight: 300;
	color: white;
}
.introduction h1 {
	font-size: 3.125rem;
	padding-top: 15rem;
}
.introduction h3 {
	font-size: 1.563rem;
	margin-top: -1em;
}
.big-button {
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 16px 26px;
    line-height: 1.33;
    margin: 0 auto;
    display: block;
    width: 160px;
    background-color: #f15a29;
    border-color: #f15a29;
    color: white;
    font-size: 1.2em;
    margin-top: 1em;
}

.big-button:hover {
	background-color: #d9400e;
	border-color: #d9400e;
	cursor: pointer;
}
.cases .content {
	text-align: center;
	margin-top: 5em;
}
.cases h2 {
	font-size: 2.5em;
	font-weight: 300;
	margin-bottom: 1.5em;
}
.devices {
	width: 33.33333333333%;
	display: inline-block;
	margin-left: -3px;
}
.cases h3 {
	margin-top: 1.5em;
	font-weight: 300;
	font-size: 1.7em;
}
.social hr {
    border: 0;
    border-top: 1px solid #eaebec;
    margin: 1.313rem 0;
}
.content h5 {
	text-align: center;
	font-size: 1em;
	font-weight: 400;
}
.icons {
	text-align: center;
	margin-top: -1.5em;
	padding-right: 4%;
}
.social .icons > li {
    border-radius: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    margin: 1.25rem 5px;
    border: 1px solid #eaebec;
    padding: 0.625rem 0;
    text-align: center;
}
.twitter {
	color: #55acee;
}
.facebook {
	color: #4c66a4;
}
.instagram {
	color: #3f729b;
}
.social p {
	text-align: center;
	font-weight: 300;
	font-size: .8em;
}